.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Webkit/Blink browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222; /* Dark background color */
}
::-webkit-scrollbar-thumb {
    background: rgb(77, 75, 75); /* Darker color for the thumb */
    border-radius: 60px;
}
